.header {
    background-color: #2874F0;
    position: sticky;
    top: 0;
    /* width: 100%; */
}

img {
    margin: 8px 5px 3px;
}


body {
    background-color: #f1f3f6;
}

.container {
    display: flex;
    grid-template-columns: repeat(6, 1fr);
}

.name {
    /* display: inline-block; */
}

input {
    /* display: inline-block; */
    width: 100%;
}

.search {
    /* display: flex; */
    /* width: 75%; */
}

/* .bar {
    max-width: 564px;
} */

.row {
    padding: 25px;
}

.section1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 14px;
    padding: 14px 0;
}

.stories {
    color: #848484;
    font-size: 14px;
}

.brand {
    color: black;
    font-size: 14px;
}

.section {
    margin: 3px;
}

.smh {
    color: #848484;
    font-size: 14px;
}

.tags {
    color: #565656;
    font-size: 12px;
}

.box {
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.heading {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: rgb(135, 135, 135);
}

span {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-align: justify;
    color: rgb(135, 135, 135);
}

p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    /* line-height: 1.4; */
    text-align: justify;
    color: rgb(135, 135, 135);
}

footer {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    background-image: none;
    height: 30em;
    background: #172337;
}

.column {
    /* display: flex; */
    width: 16%;
    box-sizing: border-box;
    text-align: left;
}

.smhead {
    margin-bottom: 10px;
}

footer a{
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}


.container-fluid {
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(); */
}


.upperfooter {
    display: flex;
    color: #8a8a8a;
    font-size: 12px;
    padding-top: 40px;
    margin: 40px 65px;

}

.footer p {
    color: #8a8a8a;
}


.v1 {
    display: inline-block;
    height: 150px;
    border-left: 1px solid #454D5E;
    margin-right: 15px;
}

.lowerfooter {
    padding-top: 40px;
    margin: 0 65px;
    border-top: 1px solid #454D5E;
    width: 100%;
    justify-content: space-evenly;
    /* margin-top: 40px;
    padding: 25px 0; */
    display: flex;
}

.smtags {
    font-size: 14px;
    color: white;
    margin-left: 7px;
}
