.header {
    background-color: #2874F0;
    position: sticky;
    top: 0;
    width: 100%;
}

img {
    margin: 8px 5px 3px;
}


body {
    background-color: #f1f3f6;
}

.name {
    display: inline-block;
}

.search {
    display: inline-block;
}

.bar {
    max-width: 564px;
}

.row {
    padding: 25px;
}

.box {
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.heading {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* line-height: 16px; */
    text-align: left;
    color: rgb(135, 135, 135);
}

p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
    color: rgb(135, 135, 135);
}

footer {
    /* Font & Text */
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    /* line-height: 17.6px; */
    background-image: none;
    height: 30em;
    background: #172337;
    /* width: 978px; */
}

.column {
    display: inline-block;
    width: 16%;
    box-sizing: border-box;
}

.smhead {
    margin-bottom: 10px;
}

footer a{
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}


.container-fluid {
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(); */
}

.footer {
    color: #8a8a8a;
    font-size: 12px;
    padding-top: 40px;
    margin: 0 65px;
    grid-template-columns: repeat(6, 1fr);
}

.footer p {
    color: #8a8a8a;
}


ul {
    list-style-type: none;
}

.footer hr {
    /* border: none; */
    width: 100%;
    background: #b5b5b5;
    height: 1px;
    /* margin: 20px 0; */
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.v1 {
    display: inline-block;
    height: 150px;
    border-left: 1px solid #454D5E;
    margin-right: 15px;
}
