* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

/* Header */

.header {
  background-color: #2874F0;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 16px;
}

.header img {
  margin: 8px 5px 3px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search {
  flex-basis: 40%;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
}

.search-btn {
  display: inline;
  border: none;
  background-color: #fff;
  border-radius: 0px 2px 2px 0px;
}

.search form {
  margin: 0;
}

.search input {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 2px 0px 0px 2px;
}

.user {
  flex-basis: 10%;
}

input {
  width: 100%
}

.user button {
  border: none;
  background-color: #fff;
  color: #357CF1;
  font-size: 16px;
  font-weight: 500;
  height: 3.5vh;
  width: 90%;
  border-radius: 2px;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
}

form {
  display: flex;
}

.seller a {
  color: #fff;
  margin: 0;
  font-weight: bolder;
  text-decoration: none;
}

.more button {
  background-color: #2874F0;
  font-size: 16px;
  border: none;
  font-weight: bolder;
}

.more-menu {
  display: none;
}

.more:hover .more-menu{
  background-color: White;
  display: block;
}

.cart a {
  color: #fff;
  margin: 0;
  font-weight: bolder;
  text-decoration: none;
}

.lowerheader {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5% 15%;
  background-color: white;
  border-bottom: 1px solid #EBEDF0;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.categories {
  height: 64px;
  width: 64px;
}

.text {
  text-align: center;
  font-weight: 500;
}

.lowerheader div:hover .text {
  color: #2885F3;
  cursor: pointer;
}

.electronics {
  display: none;
}

#electric:hover .electronics {
  display: block;
}


/* Middle Section */

body {
  font-family: Roboto, Arial, sans-serif;
}

.midsection {
  background-color: #F1F3F6;
}

.content {
  background-color: #F1F3F6;
  min-width: 978px;
  max-width: 1720px;
  padding: 8px;
  margin: 0 auto;
}

.all {
  background-color: white;
  margin: 0 2% 1%;
  border: 1px solid #eaeaea;
  height: 100%;
  /* padding: 8px; */
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.banner {
  text-align: center;
  margin: 1.5vh;
  position: relative;
}

.banner img {
  height: 100%;
  width: 97.5%;
}

.product-container {
  position: relative;
}

.arrow-button {
  height: 6vw;
  width: 2.5vw;
  background-color: white;
  padding: 0 12px;
  margin: 6% 0;
  position: absolute;
  z-index: 1;
  /* box-shadow: 2px 2px rgb(0,0,0,0.1); */
  border: none;
}

.banner .right-arrow {
  margin: 4% 0;
  right: 1.2%;
}

.banner .left-arrow {
  margin: 4% 0;
  left: 1.2%;
}

.right-arrow {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 2.1%;
}

.left-arrow {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  left: 2.1%;
}

.arrow-button i {
  font-size: 25px;
  color: Black;
}

/* .productline {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: flex-start;
  position: relative;

  overflow: hidden;
  height: 37vh;

}

h2 {
  font-size: 30px;
  padding: 2.5vh 1vh 0vh;
}

.product-label div {
  align-items: center;
  margin: 1vh;
  text-align: center;
  top: 0;
}

.product-label button {
  font-size: 12px;
  border: none;
  background-color: #2874f0;
  color: white;
  height: 37px;
  width: 5.5vw;
  border-radius: 2px;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
  margin-top: 1vh;
}

.product-label img {
  background-position: 0px bottom;
} */

.course-carousel {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  position: relative;

}
.course-carousel::-webkit-scrollbar {
  display: none;
}

.label {
  align-items: center;
  margin: 1vw;
  text-align: center;
  top: 0;
}

.line-label {
  line-height: 2.2vw;
  padding: 5.5vh 1vh 1vh;
}

.all {
  display: flex;
}

.scroll-item {
  display: flex;
  flex-direction: column;

  width: min-content;
  align-items: flex-start;
  position: relative;
  /* border: 1px solid #d1d7dc; */
  overflow: hidden;
  /* height: 37vh; */
  /* padding-bottom: 56.25%; */
}

.scroll-item:hover .thumbnail {
  transform: scale(1.02);
}

.item {
  height: 37vh;
  width: 12vw;
}

.price button {
  font-size: 12px;
    border: none;
    text-align: center;
    background-color: #2874f0;
    color: white;
    height: 38px;
    width: 5vw;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(0,0,0,0.1);
    /* margin-top: 1vh; */
}

.thumb {
  position: absolute;
  bottom: 0;
}

.thumbnail {
  /* position: absolute;
  top: 0; */
  margin-top: 30%;
  text-align: center;
}

.item-label {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5% 0 2.5%;
}

.price {
  color: #388e3c;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.company {
  font-size: 14px;
  color: #989898;
  text-align: center;
}


.contain {
  background-color: white;
  overflow-x: hidden;
  /* width: 100%; */
}

.row {
    padding: 25px;
}

.section1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 14px;
    padding: 14px 0;
}

.stories {
    color: #848484;
    font-size: 14px;
}

.brand {
    color: black;
    font-size: 14px;
}

.smh {
    color: #848484;
    font-size: 14px;
}

.tags {
    color: #565656;
    font-size: 12px;
}

.box {
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.heading {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: rgb(135, 135, 135);
}

p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    /* line-height: 1.4; */
    text-align: justify;
    color: rgb(135, 135, 135);
}

span .tags {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-align: justify;
    color: rgb(135, 135, 135);
}



/* Footer */

footer {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    background: #172337;
}

.v1 {
    display: inline-block;
    height: 150px;
    border-left: 1px solid #454D5E;
    margin-right: 15px;
}

.lowerfooter {
    padding-top: 40px;
    border-top: 1px solid #454D5E;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.smtags {
    font-size: 14px;
    color: white;
    margin-left: 7px;
}

.upperfooter {
    display: flex;
    justify-content: space-between;
    color: #8a8a8a;
    font-size: 12px;
    padding-top: 40px;
    margin: 40px 65px;

}

footer a{
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

.smhead {
    margin-bottom: 10px;
}

.left {
  width: 15%;
}

.right {
  width: 15%;
}

.address{
    color: #fff;
    margin: 0;
    text-align: left;
    font-size: 12px;
}
